<p>showreel works!



<div>
  <div class="row">
    <span>Name</span>
    <input id="name">
  </div>
  <div class="row">
    <span>Duration: </span>
    <span [(ngModel)]="showreel.duration">{{showreel.duration.format()}}</span>
  </div>
  <div>
    <div>
      <select (change)="selectNewVideo()" [(ngModel)]="selectedClip">
        <option *ngFor="let clip of availableClips" [ngValue]="clip">
          {{clip.name}}, {{clip.standard}}, {{clip.definition}}
        </option>
      </select>
    </div>
    <span class="error" *ngIf="!isSelectedClipValid">Please select a video clip with standard and definition that matches showreel.</span>
  </div>

  <p>List of videos:</p>
  <ul *ngFor="let clip of showreel?.videoClips ">
    <li>{{clip.name}}</li>
  </ul>
</div>

